section#HEADER {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--background-main);
}

.logo-header {
  width: var(--sidebar-width);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease;
}

.img-logo {
  width: 50%;
  height: 100%;
}

.img-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-logo {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-logo h1 {
  font-size: 22px;
  margin: 0;
  color: var(--color-main);
  font-weight: 400;
}

.nav-header {
  width: calc(100% - var(--sidebar-width));
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .5s ease;
}

.div-left {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.btn-toggle-sidbar {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1e1e1;
  border-radius: 50%;
  border: 2px solid #ccc;
  transition: all 0.2s ease;
}

.btn-toggle-sidbar:hover {
  cursor: pointer;
  border: 2px solid #fff;
  background-color: var(--background-main);
}

.btn-toggle-sidbar img{
  width: 20px;
  height: 20px;
  object-fit: contain;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 10px;
}

ul li {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1e1e1;
  border-radius: 50%;
  border: 2px solid #ccc;
  transition: all 0.2s ease;
}

ul li:hover {
  cursor: pointer;
  border: 2px solid #fff;
  background-color: var(--background-main);
}

ul li img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
