#MAIN-INDEX-DASHBOARD {
  width: 100%;
  height: 100%;
  background-color: var(--background-main-view);
}

.main-dashboard {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: auto;
}

.header-dashboard {
  width: 100%;
  margin-bottom: 10px;
}

.list-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.card {
  width: 100%;
  flex: 1;
  background-color: var(--background-main-view);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  border-radius: 5px;
  border: 0.5px dashed #ccc;
  transition: all 0.5s ease;
}

.card:hover {
  cursor: pointer;
  border: 0.5px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-header {
  width: 100%;
  text-align: center;
}

.card-title h3 {
  font-size: 18px;
  color: var(--color-main);
  text-transform: capitalize;
  margin: 0;
  font-weight: 300;
  padding: 10px;
}

.card-body {
  width: 100%;
  position: relative;
}

.card-content {
  width: 100%;
  height: 100%;
}

.card-content-body {
  font-size: 48px;
  color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-footer {
  width: 100%;
  text-align: center;
}

.card-footer-title h3 {
  margin: 0;
  padding: 5px;
  font-size: 15px;
  color: var(--color-main);
  font-weight: 300;
}

.card-footer-title h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.chart-main {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.header-chart {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.body-chart {
  width: 100%;
}

#myChart {
  padding: 10px;
  width: 100% !important;
  height: 600px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}

.left-header-chart {
  flex: 1;
  width: 100%;
  height: 100%;
}

.filter-date {
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 10px;
  height: 100%;
  padding: 5px 10px;
}

.input-date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input-date input {
  border: 0.5px solid #ccc;
  background-color: var(--background-main-view);
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  outline: none;
}

.input-date label {
  font-size: 14px;
  color: #fff;
  font-weight: 300;
}

.right-header-chart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 100%;
}

.btn-search {
  padding-inline: 18px;
  padding-block: 4px;
}

/* styles.css */

.dropdown-container {
  text-align: center;
}
